
<header id="header-container">
    <div id="logo">
        <div>prasaya-design</div>
        <a href="/">
            <img src="/images/logo.jpg" height="100" width="100">
        </a>
        
    </div>
    <div class="hori-menu">
    <nav class="nav-menu">
        <ul class=" no-list-style hori-list text-center ">
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT US </a></li>
            <li><a href="">GALLARY </a></li>
            <li><a href="">SERVICE </a></li>
            <li><a href="">EXPERTISE</a></li>
            <li><a href="">CONTACT US</a></li>
            
        </ul>
    </nav>
    </div>    
</header>